body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}
@media (max-width: 576px) {
    .box{
        grid-column: span 4 !important;
    }
}
h1,h2,h3{
    margin: 0;
    padding: 1em 0;
    font-weight: bold;
}
h1{
    display: block;
    font-size: 2em;
    font-weight: bold;
}
h3{
    font-size: 20.592px;
    line-height: 30.888px;
    font-weight: 700;
}
#showcase h1{
    padding-top: 100px;
    padding-bottom: 16px;
    color: aliceblue;
}
#showcase{
    height: 450px;
    color: aliceblue;
}
#showcase .bg-image{
    background-image: url("images/pexels-photo-248515.png");
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 445px;
    z-index: -1;
    opacity: 0.6;
}
#section-a{
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    background: #eaeaea;
}
#section-b{
    background: #333;
    padding-bottom: 17.6px;
    padding-left: 17.6px;
    padding-right: 17.6px;
    padding-top: 35.2px;
}

#section-d{
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
}
#section-c{
    color: #333333;
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    margin-bottom: 2em;
}
.box{
    padding: 3em;
    grid-column: span 2;
}
#section-d .box:nth-child(1){
    background: #2690d4;
    color: aliceblue;
}
#section-d .box:nth-child(2){
    background: #333;
    color: aliceblue;
}
footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
footer>div{
    padding:  2em  0 ;
    background-color: #000;
    color: aliceblue;
}
.content-wrap{
    grid-column: 2/4;
}
.card{
    border: 0;
    width:300px;
}
li{
 margin: 1em;
}
.content-wrap>a{
    display: inline-block;
    background: #333;
    color: #fff;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid #666;
    margin: 0.5em 0;
    border-radius: 0;
}
.content-wrap>a:hover{
background: #eaeaea;
color: #333;
}
.content-wrap>h2{
    font-size: 1.5em;
    padding-top: 26.4px ;
}
.content-text{
    padding-left: 10px;
    padding-right: 10px;
}
ul{
    justify-content: space-around;
    line-height: 26.4px;
}
.card>div{
    height: 300px;
}






